.background{
    display: flex;
}

body{
    background-color: #fff !important;
    background: #fff !important;
}

.div1{
    width: 35%;
    height: 100vh;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #9b1441); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.div2{
    width: 65%;
    height: 100vh;
}

.login-form-container{
    position: absolute;
    display: flex;
    height: 90vh;
    width: 90%;
    border-radius: 3px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.250);
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;

}

.text-details{
    height: inherit;
    width: 35%;
}

.login-form{
    height: inherit;
    display: flex;
    width: 65%;
    display: flex;
    justify-content: center;

}

.login-form form{
    align-self: center;
    width: 90%;
    
    
    
}

.login-form h2{
    margin-bottom: 60px;
    text-align: center;

}

.form-row{
    margin-left: 80px;
}

.form-row input{
    width: 75%;
    border: 1px rgb(199, 199, 199) solid;
    padding: 14px 20px;
    font-size: 16px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 30px;
    
}

.login-form form .btn{
    border-radius: 0px;
    padding: 14px 20px;
    width: 77%;
    color: #fff;
    box-shadow: none;
}


.text-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-details h2{
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
}

.text-details p{
    font-size: 12px;
    color: #fff;
}

.text-details .bot-logo{
    width: 140px;
}

.login-err-flash{
    margin-top: 20px;
    color: aqua;

}